<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>TAGS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let tag of tagList">
        <ion-label color="primary">#{{tag}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>


<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      toDoList
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding class="listItem animate__animated animate__bounceInRight" *ngFor="let task of tasks">
      
      <ion-item>

        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2 *ngIf="!task.done">{{task.name}}</h2>
            <h2 *ngIf="task.done"><del>{{task.name}}</del></h2>
          </ion-text>
          <ion-text color="primary">
            <span *ngFor="let tag of task.tags">#{{tag}} </span>
          </ion-text>
        </ion-label>

        <ion-checkbox *ngIf="!task.done" slot="start" color="primary" (click)="doneSwi(task)"></ion-checkbox>
        <ion-checkbox *ngIf="task.done" checked="true" slot="start" color="primary" (click)="doneSwi(task)"></ion-checkbox>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option (click)="showRemCon(task)" color="danger">EXCLUIR</ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option (click)="openActions(task)" color="secondary"><ion-icon name="settings" size="large"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showAdd()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
